---
import ContentSide from "../components/ContentSide.astro";
import Hero from "../components/Hero.astro";
import ProjectsHeader from "../components/ProjectsHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Stuard's Portfolio"
  description="Stuard Gerardo Carrillo Gonzales's portfolio, experience, and projects."
>
  <main class="flex flex-col">
    <Hero />
    <ProjectsHeader />
    <ContentSide
      id="legal-document-automation-tool"
      title="A Legal Document Automation Tool"
      subtitle="A legal document automation tool that helps you create legal documents in minutes."
      description="My first project as a software developer. I was a solo developer on charge of the development of a web application that allows lawyers to generate word documents with the information of their clients. I was responsible for the development of the backend and frontend, testing, and deployment. Definitely a great and challenging experience that I'm glad I had."
      image=""
      imageAlt=""
      imagePosition="right"
    />
  </main>
</Layout>
