<header
  id="header"
  aria-labelledby="ht hp"
  class="relative isolate overflow-hidden bg-slate-900"
>
  <div class="mx-auto max-w-7xl pt-8 sm:pt-20 lg:flex lg:px-8 lg:pt-0">
    <div
      class="mx-auto max-w-2xl flex-shrink-0 px-6 lg:mx-0 lg:max-w-xl lg:pt-40"
    >
      <p class="text-lg font-bold leading-8 text-slate-300">I'm</p>
      <h1
        id="ht"
        class="mt-6 text-4xl font-bold tracking-tight text-white sm:text-6xl"
      >
        Stuard Carrillo Gonzalez
      </h1>
      <p id="hp" class="mt-6 text-lg leading-8 text-slate-300">
        Costarican software developer trilled to work with amazing people and
        put my skills on fire.
      </p>
      <div class="mt-10 flex items-center gap-x-6">
        <a
          href="/stuard-carrillo-gonzalez-cv.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex h-11 items-center justify-center gap-2 rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >
          Download my CV
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              class="animate-bounce"
              d="M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5"
            ></path>
          </svg>
        </a>
        <a
          href="mailto:stuard.cg@icloud.com"
          class="inline-flex h-11 items-center justify-center gap-2 rounded-md bg-blue-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
        >
          Contact me
        </a>
      </div>
    </div>
    <div
      class="mx-auto mt-4 flex max-w-2xl sm:mt-12 lg:mx-0 lg:mt-0 lg:max-w-none lg:flex-none"
    >
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <picture>
          <source
            srcset="https://ik.imagekit.io/stuardcg/tr:w-380,h-380,fo-auto/stuard_portrait 380w,
            https://ik.imagekit.io/stuardcg/tr:w-640,h-640,fo-auto/stuard_portrait 640w"
            media="(max-width: 639px)"
            sizes="(max-width: 380px) 100vw, 100vw"
          />
          <source
            srcset="https://ik.imagekit.io/stuardcg/tr:w-640,h-640,fo-auto/stuard_portrait 640w"
            media="(max-width: 768px)"
          />
          <source
            srcset="https://ik.imagekit.io/stuardcg/tr:ar-4-3,w-768,fo-auto/stuard_portrait 768w"
            media="(max-width: 1023px)"
          />
          <source
            srcset="https://ik.imagekit.io/stuardcg/tr:w-640,h-640,fo-auto/stuard_portrait 640w"
            media="(min-width: 1024px)"
            sizes="640px"
          />
          <img
            src="https://ik.imagekit.io/stuardcg/stuard_portrait"
            alt="Stuard Carrillo Gonzalez Portrait"
          />
        </picture>
      </div>
    </div>
  </div>
</header>
