<section class="relative isolate overflow-hidden bg-neutral-900">
  <div
    class="mx-auto max-w-7xl px-6 pt-8 pb-4 sm:pb-32 lg:flex lg:py-40 lg:px-8"
  >
    <p class="text-lg font-bold leading-8 text-neutral-300">I'm</p>
    <h1 class="mt-6 text-4xl font-bold tracking-tight text-white sm:text-6xl">
      Stuard Carrillo Gonzalez
    </h1>
    <p class="mt-6 text-lg leading-8 text-neutral-300">
      Costarican software developer trilled to work with amazing people and put
      my skills on fire.
    </p>
    <div class="mt-10 flex items-center">
      <a
        href="/stuard-carrillo-gonzalez-cv.pdf"
        target="_blank"
        class="inline-flex gap-2 rounded-md bg-neutral-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-neutral-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-400"
      >
        Download my CV
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            class="animate-bounce"
            d="M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5"
          ></path>
        </svg>
      </a>
    </div>
  </div>
  <div
    class="mx-auto flex max-w-2xl sm:mt-24 lg:ml-10 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-32"
  >
    <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
      <picture class="w-[40rem] rounded-md">
        <source
          srcset="stuard_portrait.webp"
          media="(max-width: 1023px)"
          type="image/webp"
        />
        <source
          srcset="stuard_portrait.png"
          media="(max-width: 1023px)"
          type="image/png"
        />
        <source
          media="(min-width: 1024px)"
          srcset="stuard_landscape.webp"
          type="image/webp"
        />
        <source
          media="(min-width: 1024px)"
          srcset="stuard_landscape.png"
          type="image/png"
        />
        <img
          src="stuard_portrait.png"
          alt="Stuard Carrillo Gonzalez"
          srcset="/stuard_portrait.png 320w, /stuard_portrait.webp 320w, /stuard_landscape.png 1240w, /stuard_landscape.webp 1240w"
          sizes="(min-width: 1024px) 1240px, 320px"
        />
      </picture>
    </div>
  </div>
</section>
