<section aria-label="Projects" class="bg-white py-24 px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
      The projects that lives in my mind
    </h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      In my professional life, I have worked on a lot of projects. Some of them
      are have an special place in my heart and share them with you.
    </p>
  </div>
</section>
