---
import "@fontsource/inter";
import "@fontsource/inter-tight";

export interface Props {
  title: string;
  description: string;
  canonical?: string;
}

const { title, description } = Astro.props;

const canonical = Astro.props.canonical || Astro.request.url;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <meta name="theme-color" content="#000000" />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
